.add-to-cart-btn {
    animation-iteration-count: 4 !important; 
 }
.quick-btn {
    position: relative;
    display: inline-block;
    width: 52px;
    padding-top: 2px;
    margin: 2px;
    color: white;
    text-align: center;
}
.quick-btn .badge {
    position: absolute;
    top: -5px;
    right: -5px;
}
.quick-btn:hover{
    color: rgba(255, 255, 255, 0.75);
}
.product-table img {
	max-height: 150px;
	min-width: 50px
}

.product-table td {
	vertical-align: middle
}
.product-table .btn.btn-sm {
	padding: .3rem .6rem
}
.btn-rounded {
    -webkit-border-radius: 10em;
    border-radius: 10em;
}
.waves-effect {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent
}
[type=radio]:checked,
[type=radio]:not(:checked) {
	position: absolute;
	opacity: 0;
	pointer-events: none
}
.btn-light {
    color: #212529 !important;
    background-color: #f8f9fa !important;
}
a.disabled {
    color: gray !important;
}
.disabled{
    cursor: no-drop !important;
    pointer-events: auto !important;
}
#spinner[_ngcontent-c2] {
    background-color: #f1f1f1ad !important;
}